@import url('https://fonts.googleapis.com/css??family-Roboto:wght@300;500;788;908&display-swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #FFB612;
}

/* Navbar style beginning */
#navbar {
    position: fixed;
    width: 100%;
    height: 80px;
    background: black;
    color: #FFB612;
}

.navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

.navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

.navbar-items li {
    padding: 12px;
    font-size: 1.1rem;
}

/* Navbar style end */

/* Banner style beginning */

#banner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('../funnypetshop/images/banner.jpg')no-repeat center/cover;
}

.banner-container {
    text-align: center;
}

.banner-container h2 {
    font-size: 2.4rem;
}

.banner-container p {
    font-size:1.5em;
    padding: 9px 0;
}

/* Banner style end */

/* Clients style beginning */

#clients {
    width: 100%;
    background: #FFB612;
    color: white;
    padding: 40px;
}

.headtext {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

.client {
    display: inline-block;
    width: 25%;
}

.clients-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    padding: 12px;
}
/* Clients style end */

/* Products style beginning */
#products {
    width: 100%;
    background: #221;
    color: white;
    padding: 40px;
}

.headtext {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

.products-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 45px;
}

.product {
    display: flex;
    flex-direction: column;
    background: #332;
    padding: 18px;
    border-radius: 4px;
    }

.product-title {
    font-size: 1.4rem;
    font-weight: bold;
}
        
/* Products style end */

/* Services style beginning */

#services {
    width: 100%;
    background: #FFB612;
    color: white;
    padding: 40px;
    }

.headtext {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    }

.services {
    width: 625px;
}

.services .service-item {
    display: flex;
    padding: 12px;
    margin: 15px 0;
    font-size: 1.1rem;
 }

/* Services style end */

/* Testmonies style beginning */

#testmonies {
    width: 100%;
    background: #221;
    color: white;
    padding: 40px;
    }

.headtext {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

.testmonies-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testmonies {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    background: #332;
    padding: 15px;
    margin: 15px 0;
    border-radius: 4px;
}

.testmonies .testmonies-image {
    height: 200px;
    width: auto;
    border-radius: 55%;
    margin: 18px;
}
    
/* Testmonies style end */

/* Photos style beginning */

#photos {
    width: 100%;
    margin: auto;
    padding: 10px;
    background: #221;
    color: white;
}

.headtext {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

.photos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    justify-items: center;
}
    
.photos-image {
    display: inline-block;
    width: 335px;
    height: 355px;
    border-radius: 6px;
}
    
/* Photos style end */

/* Footer style beginning */

#rodape {
    background: #221;
    color: white;
    padding: 28px;
    text-align: center;
    }

/* Footer style ending */

@media screen and (max-width: 767px) {

#navbar {
    height: 235px;
    }
.navbar-container {
    flex-direction: column;
    padding: 18px 0;
    }
.navbar-items {
        flex-direction: column;
        text-align: center;
        width: 60%;
    }
    .navbar-items li:nth-child(2) {
        border-top: 2px solid #332;
        border-bottom: 2px solid #332;
    }
        
}    